mixin footer
    footer.page-footer.indigo.darken-4
        .footer-copyright
            .container 
                p Powered by  
                a(href='http://hexo.io')   Hexo  
                p ,  theme by  
                a(href='http://heymind.github.io') Heymind
            
